 {% load static %}
<!--============= ScrollToTop Section Starts Here =============-->
<div class="overlayer" id="overlayer">
    <div class="loader">
        <div class="loader-inner"></div>
    </div>
</div>
<a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
<div class="overlay"></div>
<!--============= ScrollToTop Section Ends Here =============-->
<!--============= Header Section Starts Here =============-->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo-area">
                <div class="logo">
                    <a href="index.html">
                        <img src="{% static 'assets/images/logo/logo.png' %}"
                            alt="logo">
                    </a>
                </div>
                <div class="support">
                    <a href="#0">Help Center</a>
                </div>
            </div>
            <ul class="menu">
                <li>
                    <a href="#">Home</a>
                    <ul class="submenu">
                        <li>
                            <a href="index.html">Home One</a>
                        </li>
                        <li>
                            <a href="index-2.html">Home Two</a>
                        </li>
                        <li>
                            <a href="index-3.html">Home Three</a>
                        </li>
                        <li>
                            <a href="index-4.html">Home Four</a>
                        </li>
                        <li>
                            <a href="index-5.html">Home Five</a>
                        </li>
                        <li>
                            <a href="index-6.html">Home Six</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Changelog</a>
                    <ul class="submenu">
                        <li>
                            <a href="changelog.html">Changelog</a>
                        </li>
                        <li>
                            <a href="changelog-2.html">Changelog Single</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Pages</a>
                    <ul class="submenu">
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="category-1.html">Category</a>
                        </li>
                        <li>
                            <a href="category-2.html">Category Single</a>
                        </li>
                        <li>
                            <a href="knowledge-based.html">Knowledge Based</a>
                        </li>
                        <li>
                            <a href="knowledge-based-single.html">Knowledge
                                Based Single</a>
                        </li>
                        <li>
                            <a href="faq.html">Faqs</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="404.html">404 Error</a>
                        </li>
                    </ul>
                </li>
                <li class="d-md-none text-center">
                    <a href="#0" class="m-0 header-button">Submit a Request</a>
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-right">
                <a href="admin" class="header-button d-none d-md-inline-block">Entra
                    no Sistema</a>
            </div>
        </div>
    </div>
</header>
<!--============= Header Section Ends Here =============-->

<!--============= Banner Section Starts Here =============-->
<section class="banner-1 bg_img"
    data-background="{% static 'assets/images/banner/banner-1.jpg' %}">
    <div class="container">
        <div class="banner-content cl-white">
            <h1 class="title">HelpDesk</h1>
            <p>Sistema HelpDesk para OpenSource para Treinamento da Tecnologia
                Python com Django.</p>
        </div>
    </div>
</section>
<!--============= Banner Section Ends Here =============-->
